* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

ol li::marker {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

summary {
  font-size: 1.3em;
  font-weight: bold;
}

.name {
  font-size: 2em;
}

.nav_div {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav_links {
  display: flex;
  gap: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.web_container {
  width: 100%;
  padding-top: 1em;
  padding-left: 5em;
  padding-right: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

@media screen and (max-width: 450px) {
  .web_container {
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* 
.cont {
  width: 100%;
  max-width: 50%;
} */
